@font-face {
  font-family: Bebas Neue Book;
  src: url(../assets/fonts/BebasNeueBook.otf);
}

@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}

.toolbar {
  height: 80px;
  margin: 0px 40px, 40px, 0px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin-left: 5%;
}

a {
  font-family: Montserrat;
  color: #121e3c;
  text-decoration: none;
  margin-left: 36px;
  font-size: 1vw;
  vertical-align: middle;
  font-weight: lighter;
}

.links {
  display: inline;
}

.icon-class {
  color: #121e3c;
  margin-left: 20px;
}

.icon-group {
  float: right;
  width: 100px;
  margin-right: 5%;
}

.spacer {
  flex: 1;
}

.main {
  margin: auto;
  display: flex;
}

.main-image {
  position: relative;
}

.heading-main-text {
  font-family: Bebas Neue Book;
  font-weight: lighter;
  color: white;
  font-size: 6vw;
  margin: 0px;
  letter-spacing: 1vw;
}

.heading-main-text-container {
  position: absolute;
  top: 30%;
  left: 11%;
  z-index: 10;
}

.chat {
  position: absolute;
  top: 26%;
  right: 30%;
  height: 50%;
  z-index: 5;
}

.box {
  position: absolute;
  bottom: 0%;
  right: 5%;
  height: 19%;
  z-index: 5;
}
.stripe {
  position: absolute;
  left: 30%;
  bottom: 32%;
  height: 10%;
  z-index: 6;
}

.down-arrow {
  position: absolute;
  left: 11%;
  bottom: 32%;
  height: 8%;
  z-index: 6;
}

.email-input {
  position: absolute;
  bottom: 5%;
  right: 7%;
  height: 6%;
  width: 20%;
  z-index: 6;
  border: none;
  font-family: Montserrat;
  padding-left: 1%;
}

.button-arrow {
  position: absolute;
  bottom: 7%;
  right: 8%;
  height: 2%;
  z-index: 7;
  border: none;
  font-family: Montserrat;
  padding-left: 1%;
}

.email-header {
  position: absolute;
  bottom: 10%;
  letter-spacing: 0.2vw;
  font-weight: lighter;
  font-size: 1.2vw;
  right: 19.5%;
  z-index: 6;
  font-family: Bebas Neue Book;
}

.description {
  position: absolute;
  left: 15%;
  bottom: 29%;
  line-height: 1.5vw;
  word-wrap: break-word;
  z-index: 6;
  color: white;
  font-size: 1vw;
  max-width: 12vw;
  font-weight: lighter;
  font-family: Montserrat;
}

.initiative {
  position: absolute;
  left: 8%;
  bottom: 4%;
  word-wrap: break-word;
  letter-spacing: 0.2vw;
  z-index: 6;
  color: white;
  font-size: 1vw;
  max-width: 5vw;
  font-weight: lighter;
  font-family: Bebas Neue Book;
}

.squiggle {
  position: absolute;
  left: 8%;
  bottom: 15%;
  width: 2%;
  z-index: 6;
  color: white;
}
