<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="100" alt="Angular Logo" class="logo" src="../assets/logo.svg" />

  <div class="spacer"></div>

  <div *ngFor="let link of links" class="links">
    <a href="">{{ link }}</a>
  </div>
  <div class="spacer"></div>
  <div class="icon-group">
    <fa-icon [icon]="instagram" [class]="['icon-class']"></fa-icon>
    <fa-icon [icon]="facebook" [class]="['icon-class']"></fa-icon>
    <fa-icon [icon]="linkedIn" [class]="['icon-class']"></fa-icon>
  </div>
</div>

<div class="main-image">
  <img
    width="90%"
    src="../assets/manuel-meurisse-EuCll-F5atI-unsplash.png"
    class="main"
  />
  <div class="heading-main-text-container">
    <h3 class="heading-main-text">FOR A LIFE</h3>
    <h3 class="heading-main-text">WORTH LIVING</h3>
  </div>
  <img width="90%" src="../assets/chat.svg" class="chat" />
  <img src="../assets/paint-stripe.svg" class="stripe" />
  <img src="../assets/down-arrow.svg" class="down-arrow" />

  <div>
    <img src="../assets/box.svg" class="box" />
    <input type="email" class="email-input" placeholder="Your email address" />
  </div>
</div>
<router-outlet></router-outlet>
