.toolbar {
  height: 80px;
  margin: 0px 40px, 40px, 0px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  position: sticky;
}

.toolbar img {
  margin: 0px 0px 0px 40px;
}

a {
  font-family: Montserrat;
  color: #121e3c;
  text-decoration: none;
  margin-left: 36px;
  font-size: 16px;
  vertical-align: middle;
  font-weight: lighter;
}

.links {
  display: inline;
}

.icon-class {
  color: #121e3c;
  margin-left: 20px;
}

.icon-group {
  float: right;
  width: 100px;
  margin: 0px 40px 0px 0px;
}

.spacer {
  flex: 1;
}
