<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="100" alt="Angular Logo" class="logo" src="../assets/logo.svg" />

  <div class="spacer"></div>

  <div *ngFor="let link of links" class="links">
    <a href="">{{ link }}</a>
  </div>
  <div class="spacer"></div>
  <div class="icon-group">
    <fa-icon [icon]="instagram" [class]="['icon-class']"></fa-icon>
    <fa-icon [icon]="facebook" [class]="['icon-class']"></fa-icon>
    <fa-icon [icon]="linkedIn" [class]="['icon-class']"></fa-icon>
  </div>
</div>

<router-outlet></router-outlet>
